<nav>
    <ul>
        <li><a href="{{ '/' | relative_url }}">Home</a></li>
        <li>
            <a href="#">Research</a>
            <ul>
                <li><a href="{{ '/research/machine-learning' | relative_url }}">Machine Learning</a></li>
                <li><a href="{{ '/research/graph' | relative_url }}">Graph</a></li>
                <li><a href="{{ '/research/generative' | relative_url }}">Generative</a></li>
                <li><a href="{{ '/research/optimization' | relative_url }}">Optimization</a></li>
                <li><a href="{{ '/research/others' | relative_url }}">Others</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Development</a>
            <ul>
                <li><a href="{{ '/development/financial' | relative_url }}">Financial</a></li>
                <li><a href="{{ '/development/generative' | relative_url }}">Generative</a></li>
                <li><a href="{{ '/development/llm' | relative_url }}">LLM</a></li>
                <li><a href="{{ '/development/others' | relative_url }}">Others</a></li>
            </ul>
        </li>
        <li><a href="{{ '/about' | relative_url }}">About</a></li>
    </ul>
</nav>
